flask==3.0.0
opencv-python==4.8.1.78
opencv-contrib-python==4.8.1.78
deepface==0.0.79
tensorflow==2.13.0
norfair==2.2.0
werkzeug==3.0.1
numpy==1.24.3
Pillow==10.0.1
matplotlib==3.7.2
pandas==2.0.3
scikit-learn==1.3.0